.page-width
{
    max-width: 400px;
    margin-left: 0px;
    margin-right: 0px;
}

.img-back
{
    background: url(images/back1-mod.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}


.logo-width
{
    width: 50px;
}

.pos-abs
{
    position: absolute;

}

.pos-rel{
    position: relative;

}


.pos-rel-left
{
    position: relative;
    float: left;
    left: 20px;
    top: 20px;

}

.pos-rel-rgt
{
    position: relative;
    float: right;
    right: 20px;
    top: 20px;
}
.pos-rel-text
{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.font-style-1
{

    font-size: 25px;
    margin-top: 90px;
    font-family: lato;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: 500;

}


.font-style-2
{
    font-family:lato;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: 300;
    padding-top: -10px;


}

.font-style-3 {
    font-family: lato;
    font-size: 33px;
    font-weight: 500;
    padding-top: 0;
}

.font-style-4
{
    font-size: 23px;
    font-family: lato;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
}



.font-style-5
{
    font-size: 24px;
    font-family: lato;
    text-align: left;
    font-weight: 400;
    padding-left: 10px;

}

.font-style-6
{
    font-size: 30px;
    font-family: lato;
    font-weight: 700;
    padding-left: 25px;
    padding-top: 20px;
    color: white;
}


.font-style-7
{
    font-size: 16px;
    font-family: lato;
    text-align: left;
    padding-left: 25px;
    padding-right: 30px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.font-style-8
{
    font-size: 23px;
    font-family: lato;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: white;
}

.font-style-9
{
    font-size: 15px;
    font-family: lato;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;

}

.center-text
{
    text-align: left;
    display: inline-block;
    list-style-type: none;

}
.width-fld
{
    width: 95%;
}

.width-fld1
{
    width: 95%;
}
.pad-top-1
{
     margin-top: 150px;
}

.pad-top-2
{
    margin-top: 20px;
}

.pad-top-3
{
    margin-top: 0px;
}

.pad-top-4
{
    margin-top: 5px;
}
.pad-top-5
{
    padding-top: 60px;
}

.pad-left-1
{
    padding-left: 25px;
}

.btn-property-accept
{
    background: rgba(44 , 185 , 158 , .7);
    height: 50px;
    width: 280px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border: none;
}

.btn-property-show
{
    height: 55px;
    width: 320px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border-width: 5px;
    background-color: transparent;
    margin-top: 150px;
    padding-bottom: 10px;
    text-align: center;
}

.btn-property-show:hover
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


.btn-property-accept:hover
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.colorback
{
    background-color:  #2cb99e;
    margin-top: 25px;
}

form input
{
    padding-bottom: 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: #ffffff;
    font-size: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top:30px;
    border-radius: 0px;
    -webkit-appearance: none;
    background-color: transparent;
}

.btn-property-send
{

    background-color: transparent;
    margin-top: 20px;
    height: 55px;
    width: 220px;
    margin-bottom: 30px;
    color: white;
    border-radius: 0;
    border-width: 3px;
    font-size: 28px;
    text-align: center;
    border-color: white;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
     background-color: transparent;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}


.img-flex-item
{
    flex:1;

}


.inline-img
{
    display: flex;
    text-align: center;
    padding-bottom: 10px;

}

@media only screen and (min-width:1000px )
{

    .font-style-1
    {

        font-size: 32px;
        margin-top: 100px;
    }


    .font-style-2
    {
        font-size: 22px;

    }


    .font-style-5
    {
        padding-left: 0px;
    }

    .logo-width
    {
        width: 60px;
    }

    .width-fld
    {
        width:47%;
        margin-right: 5px;
    }

    .btn-property-show
    {
        height: 55px;
        width: 320px;
        color: white;
        text-decoration: none;
        margin: auto;
        display: block;
        border-radius: 0;
        border-width: 5px;
        background-color: transparent;
        margin-top: 130px;
        padding-bottom: 10px;
        text-align: center;
    }


}