.page-width
{
    max-width: 999px;
    margin: 0 auto;
}

.container-fluid{
    padding:0;
    margin:0;
}

.row{
  padding: 0;
  margin: 0;
}

@keyframes animatedBackground {
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
}

.img-back
{
    background: url(images/back1-mod.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    position: relative;
    animation: animatedBackground 25s linear;
}


.logo-width
{
    width: 50px;
}

.pos-rel
{
    position: relative;

}

.pos-abs{
    position: absolute;


}


.pos-abs-left
{
    position: absolute;
    float: left;
    left: 20px;
    top: 20px;

}

.pos-abs-rgt
{
    position: absolute;
    float: right;
    right: 20px;
    top: 20px;
}

.pos-rel-text
{
    display: inline-block;
    vertical-align: middle;
}

.font-style-1
{

    font-size: 25px;
    font-family: lato;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: 500;

}


.font-style-2
{
    font-family:lato;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: 300;


}

.font-style-3 {
    font-family: lato;
    font-size: 33px;
    font-weight: 500;
    padding-top: 0;
}

.font-style-4
{
    font-size: 23px;
    font-family: lato;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
}



.font-style-5
{
    font-size: 20px;
    font-family: lato;
    text-align: left;
    font-weight: 400;
    padding-left: 10px;

}

.font-style-6
{
    font-size: 30px;
    font-family: lato;
    font-weight: 700;
    color: white;
}


.font-style-7
{
    font-size: 16px;
    font-family: lato;
    text-align: left;
    padding-left: 25px;
    padding-right: 30px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.font-style-8
{
    font-size: 23px;
    font-family: lato;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: white;
}

.font-style-9
{
    font-size: 15px;
    font-family: lato;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;

}.font-style-10
 {
     font-size: 36px;
     font-family: lato;
     text-align: center;
     word-spacing: 1px;
     letter-spacing: 1px;
    color: gray;

 }

.font-style-11 {
    font-family: lato;
    font-size: 23px;
    font-weight: 400;
    padding-top: 0;
}

.font-style-12
{
    font-family: lato;
    font-size: 25px;
    font-weight: 400;
    color: #222222;
}

.font-style-13
{
    font-family: lato;
    font-size: 20px;
    font-weight: 300;
    color: lightslategrey;
}

.font-style-14
{
    font-family: lato;
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.center-text
{
    text-align: left;
    display: inline-block;
    list-style-type: none;
}
.width-fld
{
    width: 95%;
}

.width-fld1
{
    width: 95%;
}


.marg-top-2
{
    margin-top: 30px;
}
.pad-top-1
{
    padding-top: 100px;
}


.pad-top-3
{
    margin-top: 0px;
}

.pad-top-4
{
    margin-top: 5px;
}
.pad-top-5
{
    padding-top: 60px;
}
.marg-top-1
{
    margin-top: 100px;
}

.position-text1
{
    padding-left: 25px;
    padding-top: 20px;
}

.position-text2
{
    padding-left: 25px;
    padding-right: 30px;
}

.position-text3
{
    border: none;
    border-bottom: 3px solid #2cb99e;
    position: absolute;
    margin-left: 20px;
    top:180px;
    position: absolute;
    cursor: pointer;
}


a.position-text3:hover
{
    text-decoration: none;
    color: #222222;
}

.position-text4
{
    position: absolute;
    cursor: pointer;
    margin-left: 65px;
    bottom: 15px;

}

a.position-text4:hover
{
    text-decoration: none;
    color: lightslategrey;
}



.pos-show
{
    position: absolute;
    left:50%;
    margin-left: -160px ;
    bottom: 20px;
}
.pad-left-1
{
    padding-left: 25px;
}

.btn-property-accept
{
    background: rgba(44 , 185 , 158 , .7);
    height: 50px;
    width: 280px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border: none;
}


.btn-property-accept:hover
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-accept:visited
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-accept:focus
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-show
{
    height: 55px;
    width: 320px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border-width: 5px;
    background-color: transparent;
    margin-top: 150px;
    padding-bottom: 10px;
    text-align: center;
}

.btn-property-show:hover
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


.btn-property-show:visited
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.btn-property-show:focus
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


.colorback
{
    background-color:  #2cb99e;

}

form input
{
    padding-bottom: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: #ffffff;
    font-size: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top:30px;
    border-radius: 0px;
    -webkit-appearance: none;
    background-color: transparent;
}

.btn-property-send
{

    background-color: transparent;
    margin-top: 20px;
    height: 55px;
    width: 220px;
    margin-bottom: 30px;
    color: white;
    border-radius: 0;
    border-width: 3px;
    font-size: 28px;
    text-align: center;
    border-color: white;
}


.btn-property-send:hover
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


.btn-property-send:visited
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.btn-property-send:focus
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
     background-color: transparent;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}


.img-flex-item
{
    flex:1;
}


.inline-img
{
    display: flex;
    text-align: center;
    padding-bottom: 20px;

}

/*
for pop up of menu button click
*/
#signup-popup{
    height: 300px;
    width: 200px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border-color: #2cb99e;
    border-width: 3px;
    border-style:groove;
    background-color: white;
    /*padding: 10px;*/
    /*border: 1px solid red;*/
}

.pos-popup
{
    position: absolute;
    top: 10px;
    left:50%;
    margin-left: -47px ;
}

.btn-property-signup
{
    background: rgb(44 , 185 , 158 );
    height: 40px;
    width: 180px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border: none;
}

.btn-property-signup:hover
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-signup:visited
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-signup:focus
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.pos-btn-signup
{
    position: absolute;
    left: 50%;
    margin-left: -90px;
    margin-top: 120px;
}

/*For animation of down arrow */

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    60% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.arrow {
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -20px;
    width: 50px;
    height: 50px;
    background-image: url(images/Nav.png);
    background-size: contain;
}

.bounce {
    -moz-animation: bounce 4s infinite;
    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
}

.bx-viewport{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}



/*css for signup page*/

.img-back2
{
    background: url(images/signup-back.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    position: relative;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    box-shadow: inset 0 0 0 1000px rgba(44 , 185 , 158 , .4);

}

.title-img
{
    position: absolute;
    top:10%;
    left:50%;
    margin-left: -60px;
}

.text-pos-1
{
    position: absolute;
    top:180px;
    left:50%;
    margin-left: -130px;
}


/*for dropdown*/

.dropdown-step1
{
    width: 280px;
    height: 80px;
    font-size: 35px;
    font-family: lato;
    top: 240px;
    left: 50%;
    margin-left: -140px;
    padding: 12px 20px;
    border: 2px solid #000000;
    border-radius: 9px;
    position: absolute;
    background-color: white;
    text-decoration: none;
    color: slategrey;
}

select:focus
{
    outline: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.caret-below
{
    overflow: hidden;
    content: "&#9698;";
}


.process-img
{
    position: absolute;
    bottom: 10%;
    margin-left: -170px;
    left: 50%;
}

@media only screen and (min-width:1000px )
{

    /*ph2*/

    .marg-top-1{
        margin-top: 200px;
    }

}