/* mattresses, gande kapde, bathroom, kitchen ka samaan, LED, clothes attache*/
.page-width
{
    max-width: 999px;
    margin: 0 auto;
}

.container-fluid{
    padding:0;
    margin:0;
}

.row{
  padding: 0;
  margin: 0;
}

@keyframes animatedBackground {
    from { background-position: 100% 0 }
    to { background-position: 0 0; }
}

.bg_wrapper
{
    overflow:hidden;
}
.img-back
{
    background: url(images/back1-mod.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    position: relative;
    transform:scale(1);
    transition:all 10s ease-in 0s;
}

.img-back.zout {
    transform:scale(1.2); /* <--- change the scale of zoom out as appropriate */
}

.img-back.anim{
    animation: animatedBackground 20s linear 0s;
}


.pills{
    position: relative;
    overflow: hidden;
    margin-bottom: -133px;
}
.pills ul {
    list-style: none;
    min-height: 330px;
    margin-top: 30px;
}
.pills ul li.bar1{
    position: absolute;
    right: -139px;
    top:40px;
}

.pills ul li.bar2{
    position: absolute;
    margin-left: 8px;
    top: 100px;
    left: -138px;
}

.pills ul li.bar3{
    position: absolute;
    right: -128px;
    top: 170px;
    /*padding-left: 100px;*/
}

.pills ul li span.icon {
    float: left;
    margin-top: -18px;
}
.pills ul li span img {
    width: 35px;
}
.pills ul li span.text{
    float: left;
    padding-left: 5px;
    margin-top: -15px;
}
.pills ul li span.text p{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 400;
    padding-left: 10px;
    color: #737373;

}

.img-pos
{
    padding-top: 8px ;
}

.logo-width
{
    width: 50px;
}

.pos-rel
{
    position: relative;

}

.pos-abs{
    position: absolute;


}


.pos-rel-signup
{
    position: relative;

}
.pos-abs-left
{
    position: absolute;
    float: left;
    left: 20px;
    top: 20px;

}

.pos-abs-rgt
{
    position: absolute;
    float: right;
    right: 20px;
    top: 20px;
}

.pos-rel-text
{
    display: inline-block;
    vertical-align: middle;
}

.font-style-1
{

    font-size: 20px;
    font-family: 'Lato', sans-serif;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: 500;

}


.font-style-2
{
    font-family:'Lato', sans-serif;
    font-size: 15px;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: 200;


}

.font-style-3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-top: 0;
}

.font-style-4
{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    font-weight: lighter;
    text-align: center;
    color: #737373;
}



.font-style-5
{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 400;
    padding-left: 10px;

}

.font-style-6
{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}


.font-style-7
{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    padding-left: 25px;
    padding-right: 30px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.font-style-8
{
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: white;
}

.font-style-9
{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;

}.font-style-10
 {
     font-size: 36px;
     font-family: 'Lato', sans-serif;
     text-align: center;
     word-spacing: 1px;
     letter-spacing: 1px;
    color: gray;

 }

.font-style-11 {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 400;
    padding-top: 0;
}

.font-style-12
{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    word-spacing: 1px;
    font-weight: 600;
    color:  #2cb99e;
}
.font-style-12:hover
{
    color: #2cb99e;
}

.font-style-13
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: lightslategrey;
}

.font-style-14
{
    font-family: 'Lato', sans-serif;
    font-size: 33px;
    font-weight: lighter;
    color: #c8c8c8;
}


.font-style-15
{
    font-family: 'Lato', sans-serif;
    font-size: 33px;
    color: black;
}

.font-style-16
{
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    font-weight: 100;
    color: white;
}

.font-style-17
{
    font-family: 'Lato', sans-serif;
    font-size: 17px;

    color: black;
}
.center-text
{
    text-align: left;
    display: inline-block;
    list-style-type: none;
}
.width-fld
{
    width: 95%;
}

.width-fld1
{
    width: 95%;
}



.marg-top-2
{
    margin-top: 30px;
}
.pad-top-1
{
    padding-top: 100px;
}


.pad-top-3
{
    margin-top: 0px;
}

.pad-top-4
{
    margin-top: 5px;
}
.pad-top-5
{
    padding-top: 60px;
}
.marg-top-1
{
    margin-top: 80px;
}

.position-text1
{
    padding-left: 25px;
    padding-top: 20px;
}

.position-text2
{
    padding-left: 25px;
    padding-right: 30px;
}

.position-text3
{
    border: none;
    position: absolute;
    left: 50%;
    margin-left: -31px;
    top:140px;
    position: absolute;
    cursor: pointer;
}

.position-text5
{
    position: absolute;
    left:50%;
    margin-left: -95px;
    top:120px;

}

.position-text6
{

    position: absolute;
    top:180px;
    left:50%;
    margin-left: -102px;
}


a.position-text3:hover
{
    text-decoration: none;
    color: #222222;
}

.position-text4
{
    position: absolute;
    cursor: pointer;
    left: 50%;
    margin-left: -28px;
    bottom: 6px;

}

a.position-text4:hover
{
    text-decoration: none;
    color: lightslategrey;
}



.pos-show
{
    position: absolute;
    left:50%;
    margin-left: -140px ;
    bottom: 10px;
}
.pad-left-1
{
    padding-left: 25px;
}

.btn-property-accept
{
    background: rgba(44 , 185 , 158 , .7);
    height: 50px;
    width: 280px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border: none;
    position: absolute;
    top:210px;
    left:50%;
    margin-left: -140px;
}


.btn-property-accept:hover
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-accept:visited
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-accept:focus
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-show
{
    height: 55px;
    width: 280px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border-width: 5px;
    background-color: transparent;
    margin-top: 150px;
    text-align: center;
}

.btn-property-show:hover
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


.btn-property-show:visited
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.btn-property-show:focus
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


.colorback
{
    background-color:  #2cb99e;

}

form input
{
    padding-bottom: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: #ffffff;
    font-size: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top:30px;
    border-radius: 0px;
    background-color: transparent;
}

.btn-property-send
{

    background-color: transparent;
    margin-top: 20px;
    height: 55px;
    width: 220px;
    margin-bottom: 30px;
    color: white;
    border-radius: 0;
    border-width: 3px;
    font-size: 28px;
    text-align: center;
    border-color: white;
}


.btn-property-send:hover
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


.btn-property-send:visited
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.btn-property-send:focus
{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
     background-color: transparent;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}


.img-flex-item
{
    flex:1;
}


.inline-img
{
    display: flex;
    text-align: center;
    padding-bottom: 20px;

}

/*
for pop up of menu button click
*/
#signup-popup{
    height: 200px;
    width: 170px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border-color: #2cb99e;
    border-width: 3px;
    border-style:groove;
    background-color: white;
    z-index: 10000;
    /*padding: 10px;*/
    /*border: 1px solid red;*/
}

.pos-popup
{
    position: absolute;
    top: 10px;
    left:50%;
    margin-left: -35px ;
}

.btn-property-signup
{
    background: rgb(44 , 185 , 158 );
    height: 30px;
    width: 150px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border: none;
}

.btn-property-signup:hover
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-signup:visited
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-signup:focus
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.pos-btn-signup
{
    position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 100px;
}

/*For down arrow */


.arrow {
    position: absolute;
    bottom:-60px;
    left: 50%;
    margin-left: -20px;
    width: 50px;
    height: 50px;
    background-image: url(images/Nav.png);
    background-size: contain;
}

.arrow:focus
{
    border: none;
    text-decoration: none;
    outline: none;
}



.bx-viewport{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}



/*css for signup page*/

.img-back2
{
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    position: relative;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.title-img
{
    position: absolute;
    top:100px;
    left:50%;
    margin-left: -40px;
}

.title-img2
{
    position: absolute;
    top:80px;
    left:50%;
    margin-left: -140px;
}

.text-pos-1
{
    position: absolute;
    top:210px;
    left:50%;
    margin-left: -100px;
}
.text-pos-2
{
    position: absolute;
    top:120px;
    left:50%;
    margin-left: -15px;
}

.text-pos-3
{
    position: absolute;
    top:125px;
    left:47%;
}
.pos-text7
{
    position: absolute;
    margin-top: 10px;
    left: 50%;
    margin-left: -122px;
}

/*for dropdown*/

.dropdown-step1
{
    padding: 0px 35px 0px 10px ;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    width:225px;
}



.pos-dropdown
{
    width: 230px;
    height: 60px;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    top: 260px;
    left: 50%;
    margin-left: -113px;
    padding: 3px 0 0px 0px;
    border: 2px solid #c8c8c8;
    border-radius: 9px;
    position: absolute;
    background-color: white;
    text-decoration: none;
    color: slategrey;
}

.select-wrapper {
    background-color: #FFF;
    display: inline-block;
    position: relative;
}

.select-wrapper:after {
    content: "◢";
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 5;

}

select:focus
{
    outline: none;
}


.caret-below
{
    overflow: hidden;
    content: "&#9698;";
}


.process-img
{
    position: absolute;
    top: 480px;
    margin-left: -145px;
    left: 50%;
}

.pos-form-signup
{
    position: absolute;
    top:140px;
    left: 50%;
    margin-left: -150px;
    max-width: 300px;
}

.pos-form-signin
{
    position: absolute;
    top:180px;
    left: 50%;
    margin-left: -150px;
    max-width: 300px;
}

.width-fld2
{
    width: 300px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #2cb99e;
    color: black;
    font-size: 26px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top:20px;
    border-radius: 0px;
    background-color: transparent;
    font-weight:lighter;
    font-family: 'Lato', sans-serif;
}
.width-fld2::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
.width-fld2:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    opacity:  1;
}
.width-fld2::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    opacity:  1;
}
.width-fld2:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    black;
}


.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    margin-left: -150px;
    margin-top: 10px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #2cb99e;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "✓";
    font-family: 'FontAwesome';
    background: transparent;
    color: black;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "✓";
    font-family: 'FontAwesome';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline:none /* focus style */
}
.btn-property-register
{
    background: rgba(44 , 185 , 158 , .7);
    height: 50px;
    width: 230px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border: none;
    font-size: 30px;
    margin-top: 17px;
    font-family:'Lato', sans-serif;
    font-weight: 100;

}


.btn-property-register:hover
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-register:visited
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-register:focus
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}



.btn-property-forgot
{
    background: red;
    height: 50px;
    width: 230px;
    color: white;
    text-decoration: none;
    margin: auto;
    display: block;
    border-radius: 0;
    border: none;
    font-size: 28px;
    margin-top: 17px;
    font-family:'Lato', sans-serif;
    font-weight: 100;

}


.btn-property-forgot:hover
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-forgot:visited
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.btn-property-forgot:focus
{
    background-color:  #2cb99e;
    color: white;
    text-decoration: none;
}

.nav-prop
{
    margin: 0;
    background-color: #2cb99e;
    height: 60px;
}

.pos-img1
{
    left: 30px;
    top:15px;
}

.pos-img2
{
    left:50%;
    margin-left: -46px;
    top:8px
}



@media only screen and (min-width:1000px )
{

    /*ph2*/

    .marg-top-1{
        margin-top: 80px;
    }

}